@page
@model IndexModel
@{
    ViewData["Title"] = "Mascotas";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>    
    <ul>
        @foreach (var item in @Model.Pets)
        {
            <li>@item.Id - @item.Name</li>
        }
    </ul>
</div>
